/* Стилі для заголовка питання */
.question-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Стилі для варіантів відповідей */
  .answer-option {
    margin-bottom: 5px;
  }
  
  /* Стилі для радіокнопок */
  .radio-input {
    margin-right: 5px;
  }

  div {
    margin: 20px;
  }